In [ ]:
import pandas as pd
import requests
import json

In [ ]:
df = pd.read_csv("./shops_list.csv")
df_test = df.head(2)

In [ ]:
def geocoding(address):
    url = "https://maps.googleapis.com/maps/api/geocode/json"
    
    address = address.replace(' ', '+')

    querystring = {"address":address,"language":"en","key":"AIzaSyBYxn9FxFcHq0PtFaSlVo5BcwjoAtykN68"}

    payload = ""
    response = requests.request("GET", url, data=payload, params=querystring)

    res = json.loads(response.text)
    
    # print(res)
    try:
        lat = (res["results"][0]["geometry"]["location"]["lat"])
        lng = (res["results"][0]["geometry"]["location"]["lng"])     

        output = f"{lat}|{lng}"
  
        print(output)  
   
      
        return output
    except Exception as e:
        print(e)
        print(res)
        lat = None
        lng = None
       

        output = f"{lat}|{lng}"

        print(output)
        return output

In [ ]:
df['Search'] = df['Store Name']+' '+df['Address']
df = df.reset_index(drop=True)

In [ ]:
df_test

,index,Store Name,Address,Unnamed: 3,Search
0,0,AC1 (Aberdeen Centre) (Superstore),"19-23 Nam Ning Street, Shops 1 & 9, G/F, Comme...",Aberdeen,AC1 (Aberdeen Centre) (Superstore) 19-23 Nam N...
1,1,Ap Lei Chau Estate,"Ap Lei Chau Bridge Road, Shop 4, G/F, Ap Lei C...",Ap Lei Chau,"Ap Lei Chau Estate Ap Lei Chau Bridge Road, Sh..."

In [ ]:
df['Lat/Long'] = pd.Series([
    geocoding(address)
    for address in df['Search']
  ])

add_df = pd.DataFrame(df["Lat/Long"].str.split('|',2).tolist(),
          columns = ['Latitude','Longitude'])

df = df.reset_index(drop=True)
result_df = pd.concat([df, add_df], axis=1, join="inner")

22.2487869|114.1538679
22.2444315|114.1514001
22.2837273|114.130326
22.3717381|114.1012016
22.3239569|114.1693153
22.3313068|114.1926345
22.4077228|113.9690563
22.2777777|114.1778408
22.314416|114.1648831
22.2628253|114.2498465
22.3193324|114.1661832
22.2863298|114.135648
22.3622626|114.1036172
22.3499824|114.1000403
22.3780638|114.1297481
22.356433|114.0963055
22.404843|114.224048
22.4940569|114.1268154
22.3315129|114.2029424
22.3310175|114.1598202
22.208483|114.029561
22.3355435|114.1594975
22.3075262|114.1676462
22.3147882|114.1700475
22.3183665|114.1717566
42.5875965|-72.5997916
22.2830891|114.1365621
22.332526|114.145459
22.266226|114.2508984
22.341739|114.137943
list index out of range
{'results': [], 'status': 'ZERO_RESULTS'}
None|None
22.3274847|114.1621195
22.281331|114.2216847
22.2414074|114.1560313
22.3826246|114.1912135
22.337805|114.13813
22.2878544|114.1916345
22.3122616|114.1786768
22.2059121|114.0282137
22.335692|114.202563
22.3329969|114.1670193
22.3717177|114.1398054
22.3156313|114.2252657
22.3683999|114.1220839
22.4474001|114.1667733
22.3226535|114.2493481
22.349888|114.202634
22.263949|114.239932
22.3638311|114.1143008
list index out of range
{'results': [], 'status': 'ZERO_RESULTS'}
None|None
22.3046948|114.1868509
22.5011882|114.1423046
22.414411|113.9766664
22.4212369|114.2318519
22.380395|114.206328

In [ ]:
result_df.to_excel("master_location.xlsx")